.back-color1 {
	background-color: rgba(255, 255, 255, 1);
}

.back-color2 {
	background-color: rgba(230, 239, 244, 1);
}

.back-color3 {
	background-color: rgba(242, 89, 89, 1);
}

.back-color4 {
	background-color: rgba(79, 140, 105, 1);
}

.back-color5 {
	background-color: rgba(217, 217, 217, 1);
}

.back-color6 {
	background-color: rgba(219, 219, 219, 1);
}

.back-color7 {
	background-color: rgba(244, 244, 244, 1);
}

.back-color8 {
	background-color: rgba(255, 255, 255, 1);
}

.back-color9 {
	background-color: rgba(245, 194, 205, 1);
}
.color1 {
	color: rgba(255, 255, 255, 1);
}

.color2 {
	color: rgba(142, 142, 142, 1);
}

.color3 {
	color: rgba(2, 70, 241, 1);
}

.color4 {
	color: rgba(58, 58, 58, 1);
}