body {
	background-image: url("ASSETS-mine/background-stone.png");
}

.back-color1 {
	background-color: rgba(255, 255, 255, 1);
}

.back-color2 {
	background-color: rgba(230, 239, 244, 1);
}

.back-color3 {
	background-color: rgba(242, 89, 89, 1);
}

.back-color4 {
	background-color: rgba(79, 140, 105, 1);
}

.back-color5 {
	background-color: rgba(217, 217, 217, 1);
}

.back-color6 {
	background-color: rgba(219, 219, 219, 1);
}

.back-color7 {
	background-color: rgba(244, 244, 244, 1);
}

.back-color8 {
	background-color: rgba(255, 255, 255, 1);
}

.color1 {
	color: rgba(255, 255, 255, 1);
}

.color2 {
	color: rgba(142, 142, 142, 1);
}

.color3 {
	color: rgba(2, 70, 241, 1);
}

.color4 {
	color: rgba(58, 58, 58, 1);
}

.tab {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: middle;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 20%;
	text-decoration-skip-ink: auto;
	color: blue;
}

.active-page {
	text-decoration: underline;
}

#menu {
display: none;
}


@media screen and (max-width: 850px) {
	#menu {
display: none;
}
}
